.histogram {
  display: flex;
  width: 100%;
  height: 400px;
  overflow: hidden;

  --pillar-color: blueviolet;
}

.histogram__y-axis {
  display: flex;
  flex-direction: column-reverse;
  width: 20px;
  margin-bottom: 20px;
}

.histogram__y-axis__label {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 0;
  border-top: 1px solid #ccc;
  cursor: default;
}

.histogram__y-axis__label > svg {
  display: block;
  height: 100%;
}

.histogram__y-axis__label::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 100vw;
  height: 100%;
  border-top: 1px solid #eee;
  z-index: -1;
}

.histogram__y-axis__label:hover::after {
  border-color: #aaa;
  z-index: 1;
}

.histogram__x-axis {
  display: flex;
  flex: 1;
}

.histogram__padding-column {
  width: 30px;
}

.histogram__column {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  border-right: 1px solid #ccc;
}

.histogram__column__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  /* border-right: 1px solid #ccc; */
}

.histogram__column__pillar {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}
.histogram__column__pillar__fill {
  background-color: var(--pillar-color);
}
